    <div class="credits text-center">
        <p>
            <a href="http://google.com">myLadder Home Page</a>
        </p>
        <p>
            <a href="http://google.com">About Us</a>
        </p>
    </div>
</body>
</html>