
<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1> Welcome to myLadder</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The goal of the myLadder is to instantly connect service providers with clients to complete low skilled tasks that clients enter into the system and receive payment for these tasks.
        <br />
      </p>

      <p><a href="about-us.client.view.html">About us</a></p>
    </div>
    </div>
</section>
