<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1> Welcome to myLadder</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The goal of the myLadder is to instantly connect service providers with clients to complete low skilled tasks that clients enter into the system and receive payment for these tasks.
        <br /> Sean was here.
      </p>
    </div>
    <div class="row">



    </div>
  </div>

  <!-- animation fading used in lieu of carousel in order to convey the essence of the homepage feel. Will probably do an auto carousel in final prod. -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <img class="mySlides w3-animate-fading" src="https://www.csicop.org/uploads/images/sagancollection.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="http://erdosbaconsabbath.com/images/carl-sagan/640x360.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="http://ww2.hdnux.com/photos/13/74/51/3131993/3/920x920.jpg" style="width:100%">
  <img class="mySlides w3-animate-fading" src="http://erdosbaconsabbath.com/images/carl-sagan/640x360.jpg" style="width:100%">
  <!-- </div> -->

  <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 9000);
    }
  </script>
</section>
