<div class="row" ng-controller="TasksController">
  <div class="col-md-offset-1 col-md-10 formWrapper">
    <div class="page-header">
      <h3>New Task</h3>
      <!--
        Validation of forms is important to ensure that a user submits the correct information. Angular provides
        some useful APIs for validating forms. Documentation can be found here:

          https://docs.angularjs.org/guide/forms

        We use the ng-submit directive to create a new task. The controller's create() function checks the validity of the form and sends any errors in the form of a call to $broadcast. Bootstrap also provides
        conveience methods for displaying these error messages to the user. If you're not quite sure what this code is doing, take a look at this link:

          https://github.com/paulyoder/angular-bootstrap-show-errors
       -->
      <form name="taskForm" class="form-horizontal" ng-submit="create(taskForm.$valid)">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="title">Title</label>
            <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="taskForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Title is required</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="completionDate">Completion Date</label>
            <input name="completionDate" type="text" ng-model="completionDate" id="completionDate" class="form-control" placeholder="Completion Date" required>
            <div ng-messages="taskForm.completionDate.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Completion date is required</p>
            </div>
          </div>
          <div class="form-group">
            <label for="taskType">Task Type</label>
            <select name="taskType" ng-model="taskType" id="taskType" class="form-control">
              <option value="Technical"> Technical</option>
              <option value="General">General</option>
              <option value="Skilled">Skilled</option>
            </select>
          </div>
          <div class="form-group">
            <label for="skillLevel">Skill Level</label>
            <select name="skillLevel" ng-model="skillLevel" id="skillLevel" class="form-control">
              <option value = "Beginner"> Beginner</option>
              <option value = "Intermediate"> Intermediate</option>
              <option value = "Advanced"> Advanced </option>
             </select>
          </div>
          <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea name="instructions" ng-model="instructions" id="instructions" class="form-control" cols="40" rows= "4" id="task-instructions" placeholder="Enter instructions."></textarea>
          </div>
          <div class="form-group">
            <label for="attachments">Task Type</label>
            <input name="attachments" type="file" ng-model="attachments" id="attachments" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
