<section>
  <div class="page-header">
    <h1>{{vm.task._id ? 'Edit Task' : 'New Task'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.taskForm" class="form-horizontal" ng-submit="vm.save(vm.form.taskForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.task.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.taskForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Task name is required.</p>
          </div>
        </div>

          <!--Search bar: implement 'filterObj' object used to filter posts -->
          <input type="text" class="form-control" placeholder="Search" ng-model="filterObj.$">
          <!-- Directive ng-repeat code -->

          <table class="table">
            <tr>
              <th>Task Name</th>
              <th>Type Name</th>
              <th>Skill Level</th>
              <th>Demographic Priority</th>


            </tr>
            <tr ng-repeat="post in posts | filter: filterObj | orderBy: 'name' as filteredListings" ng-click="showDetails($index)">
              <td>{{post.name}}</td>
              <td>{{post.type}}</td>
              <td>{{post.level}}</td>
              <td>{{post.priority}}</td>
              <td> <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow($index)"/> </td>

            </tr>
          </table>
          <form ng-submit = "addPost()">
            <fieldset>
            <div>
              <input type = "text" ng-model= "name" placeholder= "Enter Task Name" />
            </div>
            <div>
             </label><input type = "text" ng-model= "type" placeholder= "Enter Task Type"/>
            </div>
            <input type = "text" ng-model= "level" placeholder= "Enter Skill"/>
            <div>
              <input type = "text" ng-model= "priority" placeholder= "Enter Demographic Priority"/>
            </div>
            </fieldset>
            <!-- <button type = "submit"> Post </button> -->



        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.task._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
