<section>
  <link rel="stylesheet" type="text/css" href="~/meanjs/modules/core/client/css/core.css">
  <div class="page-header" align="center">
    <img src="http://www.seanboisselle.com/files/hammer.png" class="img-circle" height=100px width="100px" align="center">
    <h1 class="taskform">{{vm.task._id ? 'Edit Task' : 'Create A New Task'}}</h1>
  </div>

  <div class="col-md-12" align="center">
    <h4 class ="taskform">Welcome! Create your task to give someone a life-changing opportunity! </h4> <br />
    <form id="taskForm" name="vm.form.taskForm" style="width: 70%" class="form-horizontal" ng-submit="vm.save(vm.form.taskForm.$valid)" novalidate>
      <fieldset class="taskform">
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Task Name</label>
          <input name="name" type="text" ng-model="vm.task.name" id="name" class="form-control" placeholder="Task Name" required>
          <div ng-messages="vm.form.taskForm.name.$error" role="alert">
            <!-- optional error message
            <p class="help-block error-text" ng-message="required">Task Name is required.</p>
            -->
          </div>
        </div>

        <!-- Text box for task type name -->
        <div class="form-group" show-errors>
          <label class="control-label" for="type">Task Type</label>
          <input name="type" type="text" ng-model="vm.task.type" id="type" class="form-control" placeholder="Task Type" required>
        </div>

        <!-- Dropdown for skill level -->
        <div class="form-group" show-errors>
          <label class="control-label" for="level">Skill Level</label>
          <select name="level" ng-model="vm.post.level" id= "level" class="form-control" required>
            <option value = ""> --- Please select --- </option>
            <option value = "Beginner"> Beginner</option>
            <option value = "Novice"> Novice</option>
            <option value = "Skilled"> Skilled</option>
          </select>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="compensation">Compensation</label>
          <input name="compensation" type="text" ng-model="vm.task.compensation" id="compensation" class="form-control" placeholder="$$$" required>
        </div>

        <!-- Text box for Demographic Priority
        <div class="form-group" show-errors>
          <label class="control-label" for="priority">Enter Demographic Priority (Homeless, Battered Women, Alcoholics, Other)</label>
          <input name="priority" type="text" ng-model="vm.task.priority" id="priority" class="form-control" placeholder="Demographic Priority" required>
        </div>
        -->
        <!-- Dropdown for Demographic Priority-->
        <div class="form-group" show-errors>
          <label class="control-label" for="priority">Demographic Priority</label>
          <select name="priority" ng-model="vm.post.priority" id= "priority" class="form-control" placeholder="Demographic Priority" required>
          <option value = ""> --- Please select --- </option>
          <option value = "Homeless"> Homeless</option>
          <option value = "Battered Women"> Battered Women</option>
          <option value = "Recovering Addicts"> Recovering Addicts</option>
          <option value = "Senior Citizens"> Senior Citizens</option>
          <option value = "Other"> Other</option>
          </select>
        </div>

        <!-- The following button introduces functionality for uploading files.
        You will have to connect it to a database of some sort in order to allow it to store information


        <button>
          Additional Information: <input name= "taskFile" type="file" ng-file-select="onFileSelect($files)">
        </button>


        -->




        <div class="form-group">
          <button id="taskSubmit" name="taskSubmit" style="display: none;" type="submit" class="btn btn-default">{{vm.task._id ? 'Update' : 'Create'}}</button>
        </div>

        <div id="paypal-button"></div>

        <!--<div data-ng-controller="TasksController" data-ng-init="init()"></div>-->

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
