<section>
    <h1><span ng-bind="vm.task.name"></span> <small>Skill Level:</small> <small ng-bind = "vm.task.level"></small></h1>
    <div ng-bind="vm.task.type"></div>
  <div class="pull-right"
      ng-show="vm.task.isCurrentUserOwner">

    <a class="btn btn-primary"
       ui-sref="tasks.edit({ taskId: vm.task._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.task.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.task.user"
            ng-bind="vm.task.user.displayName"></span>
      <span ng-if="!vm.task.user">Deleted User</span>
    </em>
  </small>

  <p class="lead" ng-bind="vm.task.content"></p>

  </span>
</section>
