<div class="row" ng-controller="TasksController" ng-init="findOne()">
  <div class="col-md-offset-1 col-md-10">
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div class="jumbotron">
      <img id="loader" ng-show="loading" src="/../../img/484.gif">
      <div ng-show="task">
        <h2>{{task.title}}</h2>
        <p>Completion Date: {{task.completionDate}}</p>
        <p>Task Type: {{task.taskType}}</p>
        <p>Skill Level: {{task.skillLevel}}</p>
        <a class="btn btn-primary" ui-sref="tasks.edit({ taskId: task._id })">
          <i class="glyphicon glyphicon-edit"></i>
          Edit
        </a>
        <a class="btn btn-danger" ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
          Delete
        </a>
      </div>
    </div>
  </div>
</div>
