<section>

  <h1>
    View your payments here. Pull the payment information from the database.
  </h1><h1>
    A user should have the history of all their payments.
  </h1><h1>Thus, there should be a payment schema that links to the user schema </h1>

  <h3>
    The payment schema should look something like:<br />
    Payments { <br />

    Username: string; /* This uniquely identifies the user */ <br /t>
    Amount: string; <br />
    Type: {cash, gift card, mail check, in person, western union, paypal} <br />
    Payment date: string;<br />

    }
  </h3>

</section>
