<section>
  <div class="page-header">
    <h1 ng-bind="vm.climber.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.climber.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="climbers.edit({ climberId: vm.climber._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.climber.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.climber.user"
            ng-bind="vm.climber.user.displayName"></span>
      <span ng-if="!vm.climber.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.climber.content"></p>
</section>
