<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="username">Program</label>
          <input type="text" id="program" name="program" class="form-control" ng-model="vm.user.program" placeholder="Program" lowercase required>
          <div ng-messages="vm.userForm.program.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Program is required.</p>
          </div>
        </div>

        <!--gender-->
        <div class="form-group" show-errors>
          <label for="gender">Gender </label>
          <select type="text" id="gender" name="gender" class="form-control" ng-model="vm.user.gender" required>
            <option value=""> --- Please Select --- </option>
            <option value="Male"> Male </option>
            <option value="Female"> Female </option>
            <option value="Prefer Not to Say"> Prefer Not to Say</option>
          </select>
        </div>
        <!--end gender-->

        <!--age-->
        <div class="form-group" show-errors>
          <label for="age">Age </label>
          <select type="text" id="age" name="age" class="form-control" ng-model="vm.user.age" required>
            <option value=""> --- Please Select --- </option>
            <option value="18-24"> 18-24 </option>
            <option value="25-29"> 25-29 </option>
            <option value="30-34"> 30-34 </option>
            <option value="35-39"> 35-39 </option>
            <option value="40-44"> 40-44 </option>
            <option value="45-49"> 45-49 </option>
            <option value="50-54"> 50-54 </option>
            <option value="55+"> 55+ </option>
          </select>
        </div>
        <!--end age-->

        <!-- phone number -->
        <div class="form-group" show-errors>
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.user.phone" placeholder="Phone Number" maxlength="10" required>
        </div>
        <!-- end phone number -->

        <!--preferred contact-->
        <div class="form-group" show-errors>
          <label for="prefer">Prefer contact by phone or email? </label>
          <select type="text" id="prefer" name="prefer" class="form-control" ng-model="vm.user.prefer" required>
            <option value=""> --- Please Select --- </option>
            <option value="Phone"> Phone </option>
            <option value="Email"> Email </option>
          </select>
        </div>
        <!--end preferred contact-->

        <!--ifPhone-->
        <div class="form-group" show-errors>
          <label for="ifPhone"> If you prefer contact by phone, please enter preference </label>
          <select type="text" id="ifPhone" name="ifPhone" class="form-control" ng-model="vm.credentials.ifPhone">
            <option value=""> --- Please Select --- </option>
            <option value="Text"> Text </option>
            <option value="Call"> Call </option>
            <option value="No Preference"> No Preference </option>
          </select>
        </div>
        <!--end ifPhone-->

        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
