label{
	display:inline-block;
	width:400;
	margin-right: 1px;
	color: seagreen;
	text-align-all: left;
}


/* did it push successfully */

input{

}

fieldset{
	border:none;
	width:500px;
	margin:0px auto;
}
